{% extends 'base.html.twig' %}




{% block title %}Calendrier{% endblock %}
{% block stylesheets%}
    <link rel="stylesheet" href="{{ asset('css/calendrier.css') }}">

{% endblock %}

{% block main %}

    <div id="calendrier" data-events="{{ data }}"></div>



{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/calendrier.js') }}"></script>
{% endblock %}


