{% extends 'base.html.twig' %}

{% block title %}{{parent()}}{% endblock %}

{% block h2 %}{% endblock %}


{% block main %}


<div class="">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
        Launch demo modal
    </button>
</div>

{{ include('_modal.html.twig', {modalTitle: 'Test'}) }}
{% endblock %}
