{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block h2 %}Modification d'un créneau de garde{% endblock %}
{% block main %}


    {{ include('enrolment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('enrolment_index') }}">back to list</a>

    {{ include('enrolment/_delete_form.html.twig') }}
{% endblock %}
