{% extends 'base.html.twig' %}

{% block title %}Edit Enrolment{% endblock %}

{% block body %}
    <h1>Edit Enrolment</h1>

    {{ include('enrolment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_enrolment_index') }}">back to list</a>

    {{ include('enrolment/_delete_form.html.twig') }}
{% endblock %}
