{% extends 'base.html.twig' %}

{% block title %}Edit UniversityCalendar{% endblock %}

{% block main %}
    <h1>Edit UniversityCalendar</h1>

    {{ include('university_calendar/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_university_calendar_index') }}">back to list</a>

    {{ include('university_calendar/_delete_form.html.twig') }}
{% endblock %}
