{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block h2 %}Modification d'une catégorie de garde{% endblock %}

{% block main %}
    <div class="d-flex justify-content-around">
        <div class="text-center">
        {{ include('clinical_rotation_category/_form.html.twig', {'button_label': 'Update'}) }}
        </div>

        <div class="ms-auto d-flex justify-content-end">
        {{ include('clinical_rotation_category/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
