{% extends 'base.html.twig' %}

{% block title %}Edit ClinicalRotationCategory{% endblock %}

{% block main %}
    <h1>Edit ClinicalRotationCategory</h1>

    {{ include('clinical_rotation_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_clinical_rotation_category_index') }}">back to list</a>

    {{ include('clinical_rotation_category/_delete_form.html.twig') }}
{% endblock %}
