{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    dump($availableDays)
{#    {% for day in availableDays %}#}
{#        {{ day|date('Y-m-d') }} <br>#}
{#    {% endfor %}#}
    dump(students)
{#    {% for student in students %}#}
{#        <div>{{ student.firstName }} <br></div><br>#}
{#    {% endfor %}#}

    {% for clinicalRotationCategory in clinicalRotationCategories %}
        {{ clinicalRotationCategory.label }} <br>
    {% endfor %}
{% endblock %}

