{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    dump($availableDays)
    <h2>Available Days:</h2>
    <ul>
        {% for day in availableDays %}
            <li>{{ day|date('Y-m-d') }}</li>
        {% endfor %}
    </ul>


{% endblock %}

